<% content_for :title, "Editing shelf daily stat" %>

<h1>Editing shelf daily stat</h1>

<%= render "form", shelf_daily_stat: @shelf_daily_stat %>

<br>

<div>
  <%= link_to "Show this shelf daily stat", @shelf_daily_stat %> |
  <%= link_to "Back to shelf daily stats", shelf_daily_stats_path %>
</div>
