<p style="color: green"><%= notice %></p>

<% content_for :title, "Shelf stats" %>

<h1>Shelf stats</h1>

<div id="shelf_stats">
  <% @shelf_stats.each do |shelf_stat| %>
    <%= render shelf_stat %>
    <p>
      <%= link_to "Show this shelf stat", shelf_stat %>
    </p>
  <% end %>
</div>

<%= link_to "New shelf stat", new_shelf_stat_path %>
