<div id="<%= dom_id product_group %>">
  <p>
    <strong>Company:</strong>
    <%= product_group.company_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product_group.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= product_group.comment %>
  </p>

</div>
