<% content_for :title, "Editing commercial network" %>

<h1>Editing commercial network</h1>

<%= render "form", commercial_network: @commercial_network %>

<br>

<div>
  <%= link_to "Show this commercial network", @commercial_network %> |
  <%= link_to "Back to commercial networks", commercial_networks_path %>
</div>
