<% content_for :title, "New commercial network" %>

<h1>New commercial network</h1>

<%= render "form", commercial_network: @commercial_network %>

<br>

<div>
  <%= link_to "Back to commercial networks", commercial_networks_path %>
</div>
