<div id="<%= dom_id region %>">
  <p>
    <strong>Name:</strong>
    <%= region.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= region.company_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= region.country_id %>
  </p>

</div>
